<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonCss(title,links)">
    <!-- Common styles -->
    <meta name="viewport" charset="UTF-8"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/iconic/font/css/open-iconic-bootstrap.css}" type="text/css">
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}"/>
    <title th:replace="${title}">BreakBlog</title>
</head>
<body>

<div id="Top" th:fragment="commonTop">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">BreakBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor"
                    aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/'}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/about'}">About</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" th:if="${session.admin != null}">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">New <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               th:href="@{'/admin/post/new'}">Post</a>
                            <a class="dropdown-item" th:href="@{'/admin/category/new'}">Category</a>
                            <a class="dropdown-item"
                               th:href="@{'/admin/link/new'}">Link</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{'/admin/post/manage'}">Post</a>
                            <a class="dropdown-item" th:href="@{'/admin/category/manage'}">Category</a>
                            <a class="dropdown-item" th:href="@{'/admin/link/manage'}">Link</a>
                            <a class="dropdown-item" th:href="@{'/admin/comment/manage'}">Comment</a>
                        </div>
                    </li>
                    <a class="nav-item nav-link " th:href="@{'/admin/settings'}">Settings</a>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="row" th:fragment="commonMsg" th:if="${msg != null}">
    <div class="col-lg-12 col-12 px-lg-4 alert alert-info" role="alert" th:inline="text">
        <button type="button" class="close" data-dismiss="alert">×</button>
        [[${msg}]]
    </div>
</div>

<div class="col-lg-3 col-12 pr-lg-0 mt-3" th:fragment="commonSidebar">
    <div class="card mb-3">
        <div class="card-header"><span class="oi oi-list"></span> Categories</div>
        <ul class="list-group list-group-flush">
            <li th:each="category:${categories}"
                class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                <div>
                    <span class="oi oi-tags tex"></span>
                    <a th:href="@{'/category/'+${category.id}}" th:text="${category.name}"></a>
                </div>
                <span class="badge bg-light badge-pill" th:text="${category.posts.size()}"></span>
            </li>

        </ul>
    </div>
    <div class="card">
        <div class="card-header"><span class="oi oi-link-intact"></span> Links</div>
        <ul class="list-group list-group-flush">
            <li th:each="link:${links}"
                class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center">
                <div>
                    <span class="oi oi-external-link"></span>
                    <a th:href="@{${link.url}}" target="_blank" th:text="${link.name}"></a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="page" th:if="${page.hasPreviousPage || page.hasNextPage}" th:fragment="commonPag">
    <ul class="pagination">
        <li th:class="${page.hasPreviousPage}?'page-item':'page-item disabled'">
            <a class="page-link" th:href="@{'/?page='+${page.pageNum - 1}}">
                <span aria-hidden="true">←</span> Prev
            </a>
        </li>
        <li th:class="${page.hasNextPage}?'page-item':'page-item disabled'">
            <a class="page-link float-right" th:href="@{'/?page='+${page.pageNum + 1}}">
                Next <span aria-hidden="true">→</span>
            </a>
        </li>
    </ul>
</div>

<div id="Bottom" th:fragment="commonBottom">
    <div class="container bg-white">
        <div class="d-flex justify-content-between">
            <p>
                <small>
                    <span class="oi oi-heart"></span>
                    <a href="https://github.com/tw-huang/breakblog-springboot" title="Written by tw.huang">GitHub</a>
                </small>
            </p>
            <p>
                <small id="runtime" class="oi oi-timer"></small>
            </p>
            <p>
                <small th:if="${session.admin != null}">
                    <span class="oi oi-account-logout"></span>
                    <a th:href="@{'/admin/logout'}">Logout</a>
                </small>
                <small th:if="${session.admin == null}">
                    <span class="oi oi-account-login"></span>
                    <a th:href="@{'/admin/login'}">Login</a>
                </small>
            </p>
        </div>
    </div>
</div>

<div th:fragment="commonJs(scripts)">
    <!-- Common js -->
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment-with-locales.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <th:block th:replace="${scripts}"/>
</div>
</body>
</html>