<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout :: commonCss(~{::title},~{})">
    <title th:text="${session.admin.blogTitle} + ' - NewCategory' "></title>
</head>
<body>
<div th:replace="common/layout :: commonTop"></div>
<div id="Wrapper" class="bg-gary">
    <div class="content py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 p-3 bg-white">
                    <h2>New Category</h2>
                    <h6 class="text-muted" th:text="${session.admin.blogSubtitle}"></h6>
                    <div class="float-right text-muted" th:text="'-- ' + ${session.admin.name}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-12 p-3 bg-white mt-3">
                    <form th:action="@{/admin/category/new}" method="post" class="form" role="form">
                        <div class="form-group required"><label class="form-control-label" for="name">Name</label>
                            <input class="form-control" id="name" name="name" required type="text" value="">
                        </div>
                        <input class="btn btn-secondary" id="submit" name="submit" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/layout :: commonBottom"></div>
<div th:replace="common/layout :: commonJs(~{})"></div>
</body>
</html>