<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>BreakBlog</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="stylesheet" th:href="@{/css/normalize.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style-blog.css}" type="text/css">

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
</head>

<body>
<!-- Add your site or application content here -->
<div class="page">
    <div class="header">
        <div class="header-warp">
            <div class="header-brand">
            <span class="header-brand-logo">
              <img alt="logo" th:src="@{/img/logo-80.png}" style="max-height: 50px">
            </span>
                <span class="header-brand-title">BreakBlog</span>
            </div>
            <div class="header-navbar">
          <span class="header-navbar-item">
            <a href="#">时间轴</a>
          </span>
                <span class="header-navbar-item">
            <a href="#">关于</a>
        </span>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="main-warp">
            <div class="main-row">
                <div class="main-content">
                    <div class="main-banner">
                        <img alt="banner" th:src="@{/img/banner1.jpg}" style="max-width: 100%">
                    </div>
                    <div class="main-post">
                        <div class="post-item">
                            <div class="post-img">
                                <img alt="post-img1" th:src="@{/img/post-img1.png}">
                            </div>
                            <div class="post-cont">
                                <a class="post-cont-title" href="#">大师与设计师</a>
                                <span class="post-cont-date">分类：Java 日期：2015-08-12 点击数：1120</span>
                                <span class="post-cont-subtitle">我问大师：“我是做设计的，压力大，吃不好，睡不好，别人有时间休假，而我却不行，感觉特别累且迷茫，大师，我该怎么办？”</span>
                                <a class="post-cont-read" href="#">阅读正文-></a>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-img">
                                <img alt="post-img2" th:src="@{/img/post-img1.png}">
                            </div>
                            <div class="post-cont">
                                <a class="post-cont-title" href="#">那些与美食有关的事儿</a>
                                <span class="post-cont-date">分类：Java 日期：2015-08-12 点击数：1120</span>
                                <span class="post-cont-subtitle">我无法忘记最初做的黄闷鸡块，虽然只是件极小的事情，对我影响却不同其它。我得说那是一种开始，是它让我突然明白了饭菜并非为了裹腹那么简单，有些时候，人们对待美食的态度，其实也是对待生活的态度。</span>
                                <a class="post-cont-read" href="#">阅读正文-></a>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-img">
                                <img alt="post-img3" th:src="@{/img/post-img2.jpg}">
                            </div>
                            <div class="post-cont">
                                <a class="post-cont-title" href="#">化妆品到底有没有用</a>
                                <span class="post-cont-date">分类：Java 日期：2015-08-12 点击数：1120</span>
                                <span class="post-cont-subtitle">“原来如此”。真是不敢相信，寺庙师傅的手艺如此精湛。记得多年前，我曾在栖霞寺吃过斋饭，那是一碗有香茹、豆芽、金针菜以及青菜的杂烩素面，那时就感觉别有味道。没想今天更大开眼界，品尝了寺庙特有的美食，直到回去的路上，口中依然留有余香。</span>
                                <a class="post-cont-read" href="#">阅读正文-></a>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="post-img">
                                <img alt="post-img5" th:src="@{/img/post-img3.jpg}">
                            </div>
                            <div class="post-cont">
                                <a class="post-cont-title" href="#">深巷魅惑</a>
                                <span class="post-cont-date">分类：Java 日期：2015-08-12 点击数：1120</span>
                                <span class="post-cont-subtitle">风一程、雨一程，为那舌尖美食；却意外收尽旖旎、迷人；车几刻、行几刻；埔港深巷如烟迷蒙；是戴望舒的“雨巷”？“撑着油纸伞，独自彷徨在悠长悠长，又寂寥的雨巷，我希望逢着一个”……车如流水，人如织；喧哗让我莫遐思……</span>
                                <a class="post-cont-read" href="#">阅读正文-></a>
                            </div>
                        </div>
                    </div>
                    <div class="main-pagination">
                        <span class="pagination-item"><a href="">←Prev</a></span>
                        <span class="pagination-item"><a href="">Next→</a></span>
                    </div>
                </div>
                <div class="main-sidebar">
                    <div class="sidebar-search">
                        <label>
                            <input placeholder="请输入搜索的文字" type="text">
                        </label>
                    </div>
                    <div class="sidebar-about">
                        <img alt="avatar" class="sidebar-about-avatar" src="img/avatar.jpg">
                        <span class="sidebar-about-desc">这里可以放一些自我介绍信息。例如您的爱好，博客的方向等等。</span>
                    </div>
                    <div class="sidebar-hot">
                        <div class="sidebar-hot-post">
                            <a class="hot-post-title" href="#">
                                大师与设计师<img alt="hot" th:src="@{/img/hot.svg}" style="height: 16px">
                            </a>
                            <span class="hot-post-info">2015-08-12</span>
                        </div>
                        <div class="sidebar-hot-post">
                            <a class="hot-post-title" href="#">
                                那些与美食有关的事儿<img alt="hot" th:src="@{/img/hot.svg}" style="height: 16px">
                            </a>
                            <span class="hot-post-info">2015-08-12</span>
                        </div>
                        <div class="sidebar-hot-post">
                            <a class="hot-post-title" href="#">
                                行走在现实里的文艺青年<img alt="hot" th:src="@{/img/hot.svg}" style="height: 16px">
                            </a>
                            <span class="hot-post-info">2015-08-12</span>
                        </div>
                    </div>
                    <div class="sidebar-category">
                        <span class="category-item"><a href="">Default (2)</a></span>
                        <span class="category-item"><a href="">Java (4)</a></span>
                        <span class="category-item"><a href="">随笔 (14)</a></span>
                        <span class="category-item"><a href="">生活 (8)</a></span>
                        <span class="category-item"><a href="">Python (5)</a></span>
                    </div>
                    <div class="sidebar-link">
                        <span class="link-item"><a href="">GitHub</a></span>
                        <span class="link-item"><a href="">Gitee</a></span>
                        <span class="link-item"><a href="">百度</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-warp">
            <div class="footer-title">记录打怪升级之路</div>
            <div class="footer-copyright">Copyright © 2018 - 2021 BreakBlog</div>
        </div>
    </div>

</div>

<script th:src="@{/js/vendor/modernizr-3.11.2.min.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>

</html>
