<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout :: commonCss(~{::title},~{})">
    <title th:text="${blogTitle} + ' - post' "></title>
</head>
<body>
<div th:replace="common/layout :: commonTop"></div>
<div id="Wrapper" class="bg-gary">
    <div class="content py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12 p-3 bg-white">
                    <h2 th:text="${post.title}"></h2>
                    <h6 class="text-muted">Category:
                        <a th:href="@{'/category/'+ ${post.categoryId}}" th:text="${post.category.name}"></a>
                        <span class="moment" th:attr="data-timestamp=${post.getTimestampFormat()}"
                              data-format="format('LLL')"></span>
                    </h6>
                    <div class="btn-group btn-group-sm float-right" th:if="${session.admin != null}">
                        <a th:href="@{'/admin/post/edit/'+${post.id}}">
                            <button type="button" class="btn btn-info btn-sm p-1">Edit Post</button>
                        </a>
                    </div>
                    <div class="float-right text-muted" th:text="'-- ' + ${blogAuthor}"
                         th:if="${session.admin == null}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-12 p-3 bg-white mt-3">
                    <article th:utext="${post.body}"></article>
                    <hr>
                    <button type="button" data-toggle="modal" data-target=".postLinkModal" class="btn oi oi-share">
                        Share
                    </button>
                    <div class="modal fade postLinkModal" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Permalink</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               th:value="${#httpServletRequest.requestURL}" readonly="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments py-3" id="comments">
                        <h5 class="py-3 d-flex justify-content-center" th:unless="${comments.isEmpty()}"
                            th:inline="text">Total: [[${comments.size()}]] comments</h5>
                        <ul class="list-group" th:each="comment:${comments}" id="comment-list">
                            <li class="list-group-item list-group-item-action flex-column">
                                <div class="d-flex w-100 justify-content-between">
                                    <div>
                                        <h5 class="my-1">
                                            <a th:href="${comment.site}"
                                               target="_blank" th:title="${comment.site}"
                                               th:text="${comment.author}"></a>
                                            <small class="badge badge-pill badge-info "
                                                   th:if="${comment.fromAdmin == 1}"
                                                   style="font-size: 10px">admin</small>
                                            &nbsp;
                                            <small class="moment text-muted font-weight-light" style="font-size: 12px"
                                                   th:attr="data-timestamp=${comment.getTimestampFormat()}"
                                                   data-format="fromNow()">
                                            </small>
                                        </h5>
                                    </div>
                                    <div class="btn-group">
                                        <a th:href="@{'/post/'+${post.id}+'?reply='+${comment.id}+'&author='+${comment.author}+'#comment-form'}">
                                            <button type="button" class="btn btn-sm p-1 bg-white">
                                                <span class="oi oi-chat"></span> Reply
                                            </button>
                                        </a>
                                        <a th:href="@{'/admin/comment/edit/'+ ${comment.id} +'?read=0'}"
                                           th:if="${session.admin !=null && comment.reviewed == 0}">
                                            <button type="submit" class="btn btn-warning btn-sm p-1">ReadF</button>
                                        </a>
                                        <a th:href="@{'/admin/comment/edit/'+ ${comment.id} +'?read=1'}"
                                           th:if="${session.admin !=null && comment.reviewed == 1}">
                                            <button type="submit" class="btn btn-info btn-sm p-1">ReadT</button>
                                        </a>
                                        <form class="inline" method="post"
                                              th:action="@{'/admin/comment/delete/'+${comment.id}}"
                                              th:if="${session.admin != null}">
                                            <button type="submit" class="btn btn-danger btn-sm p-1"
                                                    onclick="return confirm('Are you sure?')">
                                                Delete
                                            </button>

                                        </form>
                                    </div>
                                </div>
                                <div>
                                    <p class="m-0 px-4 py-1" th:if="${comment.comment != null}" th:inline="text">
                                        <small>
                                            <span class="font-weight-bold">@[[${comment.comment.author}]]</span>:
                                            [[${comment.comment.body}]]
                                        </small>
                                    </p>
                                    <p class="m-0 py-1" th:text="${comment.body}"></p>
                                </div>
                            </li>
                        </ul>
                        <div class="page my-3" th:if="${page.hasPreviousPage || page.hasNextPage}">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li th:class="${page.hasPreviousPage}?'page-item':'page-item disabled'">
                                        <a class="page-link"
                                           th:href="@{'/post/'+${post.id}+'?page='+${page.pageNum - 1} + '#comment-list'}">
                                            <span aria-hidden="true">←</span> Prev
                                        </a>
                                    </li>
                                    <li th:class="${page.hasNextPage}?'page-item':'page-item disabled'">
                                        <a class="page-link"
                                           th:href="@{'/post/'+${post.id}+'?page='+${page.pageNum + 1} + '#comment-list'}">
                                            Next <span aria-hidden="true">→</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-center">
                            <h5 class="my-3">Say something ?</h5>
                        </div>
                        <div class="alert alert-secondary my-3" th:if="${replyId != null}">
                            Reply to <strong th:text="${replyAuthor}"></strong> :
                            <a class="float-right" th:href="@{'/post/'+${post.id}}">Cancel</a>
                        </div>
                        <div id="comment-form">
                            <form th:action="${replyId!=null}?('/comment/new/'+${post.id}+'?reply='+${replyId}):('/comment/new/'+${post.id})"
                                  method="post" class="form" role="form">
                                <div class="form-group required" th:if="${session.admin == null}">
                                    <label class="form-control-label" for="author">Name</label>
                                    <input class="form-control" id="author" name="author" required="" type="text"
                                           value="" placeholder="昵称">
                                </div>
                                <div class="form-group required" th:if="${session.admin == null}">
                                    <label class="form-control-label" for="email">Email</label>
                                    <input class="form-control" id="email" name="email" required="" type="text" value=""
                                           placeholder="邮箱">
                                </div>
                                <div class="form-group" th:if="${session.admin == null}">
                                    <label class="form-control-label" for="site">Site</label>
                                    <input class="form-control" id="site" name="site" type="text" value=""
                                           placeholder="主页 (可不填)">
                                </div>
                                <div class="form-group required">
                                    <label class="form-control-label" for="body">Comment</label>
                                    <textarea class="form-control" id="body" name="body" required=""
                                              placeholder="评论"></textarea>
                                </div>
                                <input class="btn btn-secondary" id="submit" name="submit" type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
                <div th:replace="common/layout :: commonSidebar"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/layout :: commonBottom"></div>
<div th:replace="common/layout :: commonJs(~{})"></div>
</body>
</html>