<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout :: commonCss(~{::title},~{::link})">
    <link rel="stylesheet" th:href="@{/css/blog/post.css}" type="text/css">
    <title th:text="${blogTitle} + ' - post' "></title>
</head>
<body>
<div th:replace="common/layout :: commonTop"></div>
<div class="container main">
    <div id="Wrapper" class="bg-gary">
        <div class="content py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12 p-3 bg-white">
                        <h1 th:text="${post.title}"></h1>
                        <div class="content-title">
                            <span class="text-muted">Category:
                            <a th:href="@{'/category/'+ ${post.categoryId}}" th:text="${post.category.name}"></a>
                            &nbsp;Date:
                            <span class="moment" th:attr="data-timestamp=${post.timestamp}"
                                  data-format="format('LLL')"></span>
                            </span>
                            <span class="float-right text-muted" th:text="'-- ' + ${blogAuthor}"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-12 p-3 bg-white mt-3">
                        <article th:utext="${post.body}"></article>
                        <div class="comments py-3" id="comments">
                            <hr>
                            <h5 class="py-3" th:unless="${page.records.isEmpty()}"
                                th:inline="text">Tips: [[${page.records.size()}]] comments
                            </h5>
                            <ul class="list-group" th:each="comment:${page.records}" id="comment-list">
                                <li class="list-group-item list-group-item-action flex-column">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <a th:href="${comment.site}"
                                               target="_blank" th:title="${comment.site}"
                                               th:text="${comment.author}"></a>&nbsp;
                                            <small class="moment text-muted font-weight-light"
                                                   style="font-size: 12px"
                                                   th:attr="data-timestamp=${comment.timestamp}"
                                                   data-format="fromNow()">
                                            </small>
                                        </div>
                                        <div class="btn-group float-right">
                                            <a th:href="@{'/post/'+${post.id}+'?reply='+${comment.id}+'&author='+${comment.author}+'#comment-form'}">
                                                <button type="button" class="btn btn-sm  bg-white">
                                                    <span class="oi oi-chat"></span> Reply
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="m-0 px-4 py-1" th:if="${comment.comment != null}" th:inline="text">
                                            <small>
                                                <span class="font-weight-bold">@[[${comment.comment.author}]]</span>:
                                                [[${comment.comment.body}]]
                                            </small>
                                        </p>
                                        <p class="m-0 py-1" th:text="${comment.body}"></p>
                                    </div>
                                </li>
                            </ul>
                            <div class="comments-page my-3" th:if="${page.hasPrevious() || page.hasNext()}">
                                <a th:class="${page.hasPrevious()}?'btn page-item':'btn page-item disabled'"
                                   th:href="@{'/post/'+${post.id}+'?page='+${page.current - 1} + '#comment-list'}">
                                    <span aria-hidden="true">←</span> Prev
                                </a>
                                <a th:class="${page.hasNext()}?'btn page-item float-right':'btn page-item float-right disabled'"
                                   th:href="@{'/post/'+${post.id}+'?page='+${page.current + 1} + '#comment-list'}">
                                    Next <span aria-hidden="true">→</span>
                                </a>
                                <hr>
                            </div>
                            <div class="post-comment">
                                <div class="alert alert-secondary my-3" th:if="${replyId != null}">
                                    Reply to <strong th:text="${replyAuthor}"></strong> :
                                    <a class="float-right" th:href="@{'/post/'+${post.id}}">Cancel</a>
                                </div>
                                <div id="comment-form">
                                    <form th:action="${replyId!=null}?('/post/'+${post.id} +'/comment?replyId='+${replyId}):('/post/'+ ${post.id} + '/comment')"
                                          method="post" class="form" role="form">
                                        <div class="form-group required">
                                            <label class="form-control-label" for="author">Name</label>
                                            <input class="form-control" id="author" name="author" required=""
                                                   type="text"
                                                   value="" placeholder="昵称">
                                        </div>
                                        <div class="form-group required">
                                            <label class="form-control-label" for="email">Email</label>
                                            <input class="form-control" id="email" name="email" required=""
                                                   type="text"
                                                   value=""
                                                   placeholder="邮箱">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" for="site">Site</label>
                                            <input class="form-control" id="site" name="site" type="text" value=""
                                                   placeholder="主页 (可不填)">
                                        </div>
                                        <div class="form-group required">
                                            <label class="form-control-label" for="body">Comment</label>
                                            <textarea class="form-control" id="body" name="body" required=""
                                                      placeholder="评论"></textarea>
                                        </div>
                                        <input class="btn btn-secondary" id="submit" name="submit" type="submit"
                                               value="Submit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:replace="common/layout :: commonSidebar"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="common/layout :: commonBottom"></div>
    <div th:replace="common/layout :: commonJs(~{})"></div>
</div>
</body>
</html>