<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout :: commonCss(~{::title},~{::link})">
    <link rel="stylesheet" th:href="@{/css/blog/index.css}" type="text/css">
    <title>HTTP 404</title>
</head>
<body>
<div th:replace="common/layout :: commonTop"></div>
<div class="container main">
    <div id="wrapper" class="bg-gary">
        <div class="content py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12 p-3 bg-white">
                        <h1>404 Not Found</h1>
                        <div class="content-title">
                            <span class="text-muted">Sorry! Page Not Found!</span>
                            <span class="float-right text-muted">-- tips</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-12 p-3 bg-white mt-3"></div>
                    <div th:replace="common/layout :: commonSidebar"></div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="common/layout :: commonBottom"></div>
    <div th:replace="common/layout :: commonJs(~{})"></div>
</div>
</body>
</html>