body {
    background-color: #E2E2E2;
}

.main {
    padding: 0;
    /*border: 1px solid #212529;*/
    box-shadow: 0 0 10px #000;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 60%;
}

/*背景颜色类*/
.bg-gary {
    background-color: #ececec;
}

.bg-white {
    background-color: white;
}

/*自定义行高*/
#Wrapper {
    line-height: 1.6rem;
}

#Wrapper p {
    margin-bottom: 8px;
}

#Bottom p {
    margin: 8px 0;
}

.pagination {
    margin-bottom: 0;
}

a {
    color: rgb(33, 37, 41);
}

/*文章页面优化显示格式*/
article h1 {
    font-size: 28px;
}

article h2 {
    font-size: 24px;
}

article h3 {
    font-size: 20px;
}