body {
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
}

.page {
    margin: 20px auto;
    max-width: 1080px;
    width: 1080px;
}

.page a {
    text-decoration: none;
    color: #373A41;
}


.page a:hover {
    color: #855500;
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.header-warp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
}

.header-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-brand-title {
    font-size: 24px;
    padding-left: 10px;
    font-weight: bold;
}

.header-navbar-item {
    padding-left: 24px;
}

.main {
    background-color: #ffffff;
}

.main-warp {
    padding: 20px 40px;
}

.main-row {
    display: flex;
    justify-content: space-between;
}

.main-content {
    flex: 3;
}

.main-post {
    padding-top: 20px;;
}

.post-item {
    display: flex;
    margin-bottom: 20px;
}

.post-img {
    margin-right: 12px;
}

.post-img img {
    max-height: 180px;
}

.post-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-cont-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-cont-date {
    font-size: 12px;
    margin-bottom: 6px;
    color: #999999;
}

.post-cont-subtitle {
    font-size: 12px;
}


.post-cont-read {
    align-self: flex-end;
    font-size: 12px;
    padding-top: 10px;
}

.main-pagination {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.pagination-item {
    border: 1px solid #e5e5e5;
    padding: 4px;
}


.main-sidebar {
    color: #8d9095;
    flex: 1;
    margin-left: 40px;
}

.sidebar-search {
    margin-bottom: 20px;
}

.sidebar-search input {
    width: 97%;
    height: 28px;
}

.sidebar-about {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #f5f5f5;
}

.sidebar-about-avatar {
    max-width: 240px;
    /*border-radius: 50%;*/
}

.sidebar-about-desc {
    padding: 10px;
}


.sidebar-hot {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
}

.sidebar-hot-post {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
}

.hot-post-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.hot-post-info {
    font-size: 8px;
}

.sidebar-category {
    display: flex;
    flex-direction: column;
    color: #222222;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
}

.category-item {
    padding: 5px 0;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar-link {
    display: flex;
    flex-direction: column;
    color: #222222;
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
}

.link-item {
    padding: 5px 0;
    border-bottom: 1px solid #e5e5e5;
}

.footer {
    background-color: #474747;
    color: #ffffff;
}

.footer-warp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.footer-title {
    font-size: 20px;
    padding-bottom: 10px;
}

.footer-copyright {
    font-size: 12px;
}
