<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.twhuang.mapper.CommentMapper">

    <resultMap type="top.twhuang.entity.Comment" id="commentMap">
        <id column="cId" property="id"/>
        <result column="cDelFlag" property="delFlag"/>
        <result column="cCreateTime" property="createTime"/>
        <result column="cUpdateTime" property="updateTime"/>
        <result column="cAuthor" property="author"/>
        <result column="cEmail" property="email"/>
        <result column="cSite" property="site"/>
        <result column="cBody" property="body"/>
        <result column="cReviewed" property="reviewed"/>
        <result column="cTimestamp" property="timestamp"/>
        <result column="cRepliedId" property="repliedId"/>
        <result column="cPostId" property="postId"/>
        <association property="comment" javaType="top.twhuang.entity.Comment">
            <id column="rId" property="id"/>
            <result column="rDelFlag" property="delFlag"/>
            <result column="rCreateTime" property="createTime"/>
            <result column="rUpdateTime" property="updateTime"/>
            <result column="cAuthor" property="author"/>
            <result column="rEmail" property="email"/>
            <result column="rSite" property="site"/>
            <result column="rBody" property="body"/>
            <result column="rReviewed" property="reviewed"/>
            <result column="rTimestamp" property="timestamp"/>
            <result column="rRepliedId" property="repliedId"/>
            <result column="rPostId" property="postId"/>
        </association>
    </resultMap>

    <select id="selectBlogCommentPage" resultMap="commentMap">
        SELECT
            c.id AS cId,
            c.del_flag AS cDelFlag,
            c.create_time AS cCreateTime,
            c.update_time AS cUpdateTime,
            c.author AS cAuthor,
            c.email AS cEmail,
            c.site AS cSite,
            c.body AS cBody,
            c.reviewed AS cReviewed,
            c.`timestamp` AS cTimestamp,
            c.replied_id AS cRepliedId,
            c.post_id AS cPostId,
            r.id AS rId,
            r.del_flag AS rDelFlag,
            r.create_time AS rRreateTime,
            r.update_time AS rUpdateTime,
            r.author AS rAuthor,
            r.email AS rEmail,
            r.site AS rSite,
            r.body AS rBody,
            r.reviewed AS rReviewed,
            r.`timestamp` AS rTimestamp,
            r.replied_id AS rRepliedId,
            r.post_id AS rPostId
        FROM
            `comment` c
                LEFT JOIN `comment` r ON r.id = c.replied_id
        WHERE
            c.del_flag = 0
          AND c.post_id = #{postId}
    </select>
</mapper>