<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.twhuang.mapper.PostMapper">

    <update id="updatePageView">
        UPDATE post
        SET page_view = page_view + 1
        WHERE id = #{id}
    </update>

    <select id="selectPrevPost" resultType="top.twhuang.entity.Post">
        SELECT
            *
        FROM
            post
        WHERE
            id = ( SELECT id FROM post WHERE id &lt; #{id} AND del_flag = 0 ORDER BY id DESC LIMIT 1 )
            AND del_flag = 0
    </select>

    <select id="selectNextPost" resultType="top.twhuang.entity.Post">
        SELECT
            *
        FROM
            post
        WHERE
            id = ( SELECT id FROM post WHERE id &gt; #{id} AND del_flag = 0 ORDER BY id ASC LIMIT 1 )
            AND del_flag = 0
    </select>

    <select id="selectSumPageViews" resultType="java.lang.Integer">
        SELECT
            SUM( page_view ) AS clicks
        FROM
            post
        WHERE
            del_flag = 0
    </select>

    <select id="selectCountPages" resultType="java.lang.Integer">
        SELECT
            COUNT(*) AS posts
        FROM
            post
        WHERE
            del_flag = 0
    </select>
</mapper>